# Pastas de configuração do Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json

# Dependências locais que possam surgir nos mini projetos
node_modules/
.env

# Arquivos gerados pelo MkDocs localmente
site/
.pytest_cache/
__pycache__
*.pyc